{% extends 'base.html' %}
{% block content %}

    <div id="index">

       <h2>Sobre o Autismo</h2>

       <p class="texto-index" style="color:#000000">O autismo, atualmente chamado de Transtorno do Espectro Autista (TEA), <br>
        é uma condição caracterizada por comprometimento na comunicação e interação social, <br>
         associado a padrões de comportamento restritivos e repetitivos. <br>
       Os sinais do TEA começam na primeira infância e persistem na adolescência e vida adulta. <br><br>
       
        A condição acomete cerca de 1 a 2% da população mundial, com maior prevalência no gênero masculino, <br>
        e as causas são multifatoriais, com grande influência genética, mas também com participação de aspectos ambientais. <br>
        Algumas outras condições podem acompanhar o TEA, como transtorno de déficit de atenção e <br>
        hiperatividade (TDAH), depressão, epilepsia e deficiência intelectual, essa com ampla variabilidade. <br><br>

        O tratamento do TEA é baseado em terapias de reabilitação que devem ser direcionadas de acordo <br> 
        com as necessidades de cada pessoa e envolvem equipe multidisciplinar. <br>
        Os principais objetivos do tratamento são melhorar a funcionalidade social e <br>
        as habilidades de comunicação e reduzir comportamentos negativos e não-funcionais e, <br>
        assim, contribuir significativamente para a qualidade de vida das pessoas com TEA e de seus familiares/cuidadores. <br>
        
        Sabe-se que o tratamento precoce tem grande impacto no prognóstico. Ambientes com acessibilidade, <br><br>
        educação inclusiva, programas de suporte e a inclusão no mercado de trabalho têm contribuído <br>
        substancialmente para a melhora da qualidade de vida desta população. </p>
      

    </div>

      <footer class="rodape">
        <p class="direitos">
            &copy; Todos os direitos reservados  
        </p>
    </footer>

   
{% endblock %}