{% extends 'base.html' %}
{% block content %}

<p class="texto-resultado" style="color:#000000"> Segundo as informaçoes que você nos  <br>
    forneceu o grau de autismo  <br>
    Se encaixa em 
     <br>

<h3>
    {{ verificacao }}
</h3>

<p class="texto-resultado" style="color:#000000"> Não esqueça de   <br>
    procurar ajuda profissional   <br>
    



</p>
<footer class="rodape">
    <p class="direitos">
        &copy; Todos os direitos reservados  
    </p>    
</footer>
    

{% endblock %}