{% extends 'base.html' %}
{% block content %}

    <p class="texto-resultado"> Segundo as informações que você nos <br>
        forneceu, o grau de autismo <br>
        se encaixa em: <br>
    </p>

    <h3>
        {{ verificacao }}
    </h3>

    <p class="texto-resultado"> Importante. <br>
        Não esqueça de <br>
        procurar ajuda profissional. <br>    
    </p>

    <footer class="rodape">
        <p class="direitos">
            &copy; Todos os direitos reservados  
        </p>    
    </footer>
        

{% endblock %}