{% extends 'base.html' %}
{% block content %}

    <div id="sobre">

        <h2>Sobre a página</h2>

        <p class="texto-sobre" style="color:#000000">  Essa página foi desenvolvida para um trabalho acadêmico <br>
            na disciplina de Inteligência Artificial do IFSC Câmpus Lages. <br>
            Nosso projeto tem o objetivo de auxiliar a classificação do diagnóstico de uma criança autista. <br>



        </p>
    

    </div>

    <footer class="rodape">
        <p class="direitos">
            &copy; Todos os direitos reservados  
        </p>
    </footer>

{% endblock %}